#main_menu {
	text-align: center;
	float: center;
	padding: 25px 0px 25px 0px;
	background-color: black;
	color: white;
	
}

li {
	display: inline-block;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	padding: 20px;	
}
	


.izquierda {	
	padding: 20px;
	float: left:
}

.centro {
	margin-right: 50px;
	margin-left: 50px; 
}

.derecha {
	padding: 20px;
	float:right;
}